Flask==2.2.2
Flask-SQLAlchemy==2.5.1
Flask-Login==0.6.2
gunicorn==20.1.0
SQLAlchemy==1.4.47  # Specify a compatible version of SQLAlchemy
Werkzeug==2.2.2  # Ensure you have this older version of Werkzeug
